/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            layers = <0>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            timeout-ms = <50>;
            layers = <0>;
        };

        tmux_leader {
            bindings = <&kp LC(A)>;
            key-positions = <12 13>;
            timeout-ms = <50>;
            layers = <0>;
        };

        bt_reset {
            bindings = <&bt BT_CLR>;
            key-positions = <20 21 28 29>;
            require-prior-idle-ms = <200>;
            timeout-ms = <50>;
            layers = <0>;
        };
    };

    behaviors {
        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
        };

        thumb_layer: thumb_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_LAYER";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41>;
        };

        thumb_modifier: thumb_modifier {
            compatible = "zmk,behavior-hold-tap";
            label = "THUMB_MODIFIER";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 4 5 6 7 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 8 3>;
        };
    };

    macros {
        quote: quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SINGLE_QUOTE &kp SPACE>;
            label = "QUOTE";
        };

        double_quote: double_quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp SPACE>;
            label = "DOUBLE_QUOTE";
        };

        tilde: tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp TILDE &kp SPACE>;
            label = "TILDE";
        };

        backtick: backtick {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp SPACE>;
            label = "BACKTICK";
        };

        caret: caret {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp CARET &kp SPACE>;
            label = "CARET";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &kp Q          &kp W         &kp E        &kp R        &kp T                          &kp Y      &hmr LWIN U           &hmr LALT I         &hmr LCTRL O  &hmr LSHIFT P  &trans
&trans  &hml LSHIFT A  &hml LCTRL S  &hml LALT D  &hml LWIN F  &kp G                          &kp H      &kp J                 &kp K               &kp L         &kp SEMI       &trans
&trans  &kp Z          &kp X         &kp C        &kp V        &kp B                          &kp N      &kp M                 &kp COMMA           &kp DOT       &kp SQT        &trans
                                     &kp SPACE    &mo 1        &thumb_modifier LWIN RETURN    &kp SPACE  &thumb_layer 2 SPACE  &thumb_layer 4 F18
            >;

            label = "base";
        };

        num {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCLAMATION   &kp GRAVE  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp LA(BACKSPACE)    &double_quote  &kp N7        &kp N8        &kp N9        &kp BACKSPACE  &trans
&trans  &kp LESS_THAN     &kp TILDE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp DELETE           &quote         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp SLASH      &trans
&trans  &kp GREATER_THAN  &kp CARET  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans               &kp N0         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp QUESTION   &trans
                                     &trans                &trans                 &trans               &trans         &mo 3         &trans
            >;

            label = "num";
        };

        nav {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &kp EXCL          &kp AT  &kp HASH        &kp DLLR      &kp PRCNT               &caret            &kp AMPS          &kp ASTERISK      &kp MINUS             &kp EQUAL  &trans
&trans  &kp LESS_THAN     &trans  &kp UNDERSCORE  &kp SLASH     &kp PIPE                &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(NUMBER_3)  &kp LA(NUMBER_4)      &backtick  &trans
&trans  &kp GREATER_THAN  &trans  &kp PLUS        &kp QUESTION  &kp NON_US_BACKSLASH    &kp LA(N5)        &kp LA(NUMBER_6)  &kp PIPE          &kp NON_US_BACKSLASH  &tilde     &trans
                                  &trans          &mo 3         &trans                  &trans            &trans            &trans
            >;

            label = "nav";
        };

        opt {
            bindings = <
&trans  &trans  &trans  &trans     &trans     &trans       &trans          &trans          &trans        &kp UNDERSCORE  &kp PLUS  &trans
&trans  &trans  &trans  &kp LG(V)  &kp LG(C)  &kp LG(X)    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT       &trans    &trans
&trans  &trans  &trans  &trans     &trans     &trans       &trans          &trans          &trans        &trans          &trans    &trans
                        &trans     &trans     &trans       &trans          &trans          &trans
            >;

            label = "opt";
        };

        util {
            bindings = <
&trans  &kp F1        &kp F2        &kp F3        &kp F4        &kp F5          &kp LEFT              &kp RIGHT         &trans             &trans         &trans    &trans
&trans  &kp F6        &kp F7        &kp F8        &kp F9        &kp F10         &kp LG(LS(NUMBER_4))  &kp K_PLAY_PAUSE  &kp C_VOLUME_UP    &kp C_BRI_UP   &trans    &trans
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LS(LG(N5))        &kp K_MUTE        &kp C_VOLUME_DOWN  &kp C_BRI_DEC  &kp CAPS  &trans
                                    &trans        &trans        &trans          &trans                &trans            &trans
            >;

            label = "util";
        };
    };
};
